* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.container {
  padding: 3em;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.col1 {
  background-color: hsl(31, 77%, 52%);
}
.col2 {
  background-color: hsl(184, 100%, 22%);
}
.col3 {
  background-color: hsl(179, 100%, 13%);
}
.col1,
.col2,
.col3 {
  height: 70%;
  padding: 3em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(0, 0%, 95%);
  font-weight: 800;
}
.btn {
  width: 10em;
  height: 2em;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 1.2em;
}

.col1 .btn {
  color: hsl(31, 77%, 52%);
}
.col1 .btn:active {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}
.col2 .btn {
  color: hsl(184, 100%, 22%);
}
.col2 .btn:active {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}
.col3 .btn {
  color: hsl(179, 100%, 13%);
}
.col3 .btn:active {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}

object {
  padding-bottom: 20px;
}
