* {
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "a a b"
    "c d e"
    "c d e ";
  height: 100vh;
  width: 80%;
}
.container div {
  text-align: center;
}

d .item-a {
  background-color: aqua;
  grid-area: a;
}
.item-b {
  background-color: blue;
  grid-area: b;
}
.item-c {
  background-color: purple;
  grid-area: c;
}
.item-d {
  background-color: green;
  grid-area: d;
}
.item-e {
  background-color: grey;
  grid-area: e;
}
